<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div class="data-container">
    <table class="data-table">
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>说明</th>
        </tr>
        <tr th:each="stu, stat: ${students }">
            <td class="xh-td" th:text="${stat.count}"></td>
            <td class="" th:text="${stu.name}"></td>
            <td class="center-td" th:text="${stu.age}"></td>
            <td class="center-td" th:text="${stu.gender == 0 ? '女' : '男'}"></td>
            <td class="" th:text="${stu.description}"></td>
        </tr>
    </table>
</div>
</body>
</html>
