<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenjinxiang.spb.mapper.db2.EmperorMapper">

    <resultMap id="baseResult" type="com.shenjinxiang.spb.domain.Emperor">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="dynasty" column="dynasty" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryAllEmperor" resultMap="baseResult">
        SELECT `id`, `name`, `dynasty`
        FROM emperor
        ORDER BY id ASC
    </select>

    <select id="queryById" parameterType="int" resultMap="baseResult">
        SELECT `id`, `name`, `dynasty`
        FROM emperor
        <where>
            AND id = #{id}
        </where>
    </select>

    <insert id="add" parameterType="com.shenjinxiang.spb.domain.Emperor">
        INSERT INTO emperor
        (`id`, `name`, `dynasty`)
        VALUES
        (#{id}, #{name}, #{dynasty})
    </insert>

    <update id="upd" parameterType="com.shenjinxiang.spb.domain.Emperor">
        UPDATE emperor
        <set>
            `name` = #{name}
            `dynasty` = #{dynasty}
        </set>
        <where>
            AND `id` = #{id}
        </where>
    </update>

    <delete id="delById" parameterType="int">
        DELETE FROM emperor
        <where>
            AND `id` = #{id}
        </where>
    </delete>
</mapper>